.header-container {
  width: 100%;
  height: 900px;
  border-left: none;
  border-right: none;
  position: relative;
  padding: 20px;
}
.video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow:hidden;
}
video {
  position: absolute;
  z-index: -1;
  opacity: 0.88;
  width: 100%
}
h3{
  z-index: 1;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  padding: auto;
  border-radius: 15px
  width: 700px;
  letter-spacing: 3px;
  font-size: 25px;
}
h2{
  color: #4a5c63;
  background-color: #ffffff;
  z-index: 1;
  text-align: center;
  padding: 10px 10px;
  font-size: 25px;
}
body {
  min-height: 2000px;
  padding-top: 70px;
}
.my-brand {
  width: 50px;
  height: 50px;
  position: relative;
  top: -15px;
}
.cover-photo {
  /*width: 300px;
  height: 300px;*/
  margin: 0 400px;
}
.color-first {
  background-color: #1636a4;
  width: 100%;
  height: 300px;
}
.my-navbar {
  background-color: #2632d4;
}

.my-font {
  color: #ffffff;
}
